<html class="h-full bg-pylex-800">
<head>
    <title>Eternodes</title>
    <link href="/assets/tailwind.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://i.ibb.co/3spp2wn/80c8a7933e558b06e82a9c07a114ec15.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
</head>
<body style="font-family: 'Lexend Deca', sans-serif;" class="bg-pylex-800 h-full">
<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
<div class="bg-pylex-800 min-h-full flex flex-col lg:relative">
  <div class="flex-grow flex flex-col">
    <main class="flex-grow flex flex-col bg-pylex-800">
      <div class="flex-grow mx-auto max-w-7xl w-full flex flex-col px-4 sm:px-6 lg:px-8">
        <div class="flex-shrink-0 pt-10 sm:pt-16">
          <a href="/" class="inline-flex">
            <img class="h-12 w-auto" src="https://i.ibb.co/3spp2wn/80c8a7933e558b06e82a9c07a114ec15.png" alt="">
          </a>
        </div>
        <div class="flex-shrink-0 my-auto py-16 sm:py-32">
          <p class="text-sm font-semibold text-sky-400 uppercase tracking-wide">Error 404</p>
          <h1 class="mt-2 text-4xl font-extrabold text-white tracking-tight sm:text-5xl">Page not found</h1>
          <p class="mt-2 text-base text-pylex-300">Sorry, we couldn’t find the page you’re looking for.</p>
          <div class="mt-6">
            <a href="../dashboard" class="text-base font-medium text-sky-400 hover:text-sky-500">Go back <span aria-hidden="true"> &rarr;</span></a>
          </div>
        </div>
      </div>
    </main>
    <footer class="flex-shrink-0 bg-pylex-700">
      <div class="mx-auto max-w-7xl w-full px-4 py-16 sm:px-6 lg:px-8">
        <nav class="flex space-x-4">
          <a href="https://discord.gg/6xu9hwTzGc" class="text-sm font-medium text-pylex-300 hover:text-white">Contact Support</a>
          <span class="inline-block border-l border-pylex-600" aria-hidden="true"></span>
          <a href="https://status.eternodes.me/" class="text-sm font-medium text-pylex-300 hover:text-white">Status</a>
          <span class="inline-block border-l border-pylex-600" aria-hidden="true"></span>
          <a href="https://twitter.com/eternodes" class="text-sm font-medium text-pylex-300 hover:text-white">Twitter</a>
        </nav>
      </div>
    </footer>
  </div>
  <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img class="absolute inset-0 h-full w-full object-cover" src="https://cdn.discordapp.com/attachments/1063504679230787694/1073959545115779102/Sprinkle.png" alt="">
  </div>
</div>
