<html class="h-full bg-pylex-800">
<head>
    <title>Eternodes</title>
    <link href="/assets/tailwind.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://i.ibb.co/3spp2wn/80c8a7933e558b06e82a9c07a114ec15.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
</head>
<body style="font-family: 'Lexend Deca', sans-serif;" class="bg-pylex-800 h-full">
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <img class="mx-auto h-16 w-auto" src="https://i.ibb.co/3spp2wn/80c8a7933e558b06e82a9c07a114ec15.png" alt="Eternodes">
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-white">You want delete your account?</h2>
      <p class="text-center text-normal text-pylex-300">Please send a email to legal@eternodes.me with your discord account id.</p>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <div><br>
      </div>
    </form>
  </div>
</div>
